/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Inter:wght@300;400;500;600&display=swap");
@import "tailwindcss";
@theme {
  --color-brand-black: #050505;
  --color-brand-dark: #0f0f0f;
  --color-brand-surface: #18181b;
  --color-brand-blue: #2563EB;
  --color-brand-orange: #F97316;
  --color-brand-white: #FFFFFF;

  --font-sans: "Inter", sans-serif;
  --font-display: "Montserrat", sans-serif;
}


/* Global defaults */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-black text-white antialiased;
    font-family: "Inter", "sans-serif",
  }
}

.glass-nav {
  background: rgb(39 38 38 / 90%);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.hero-bg {
  background: linear-gradient(to bottom, rgba(5, 5, 5, 0.6), #050505), url('https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?q=80&w=2000&auto=format&fit=crop');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.sans {
  font-family: "Inter", "sans-serif";
}

.display {
  font-family: "Montserrat", "sans-serif";
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fadeIn 200ms ease-out;
}